@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Persona';
  src: url('/fonts/EarwigFactory-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-persona {
  font-family: 'Persona', sans-serif;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url('/img/outros/background-tokyo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html, body {
  background-color: #000000;
  color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}