.navbar {
  background-color: #700009;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navLinks {
    flex-direction: column;
    font-size: 0.5rem;
    gap: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease;
  }

  .menuButton {
    display: block; 
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #FFFFFF;
  }

  @media (min-width: 768px) {
    .navLinks {
      display: flex;
      flex-direction: row; 
      gap: 1.5rem;
      font-size: 1rem;
    }

    .menuButton {
      display: none; 
    }
  }

  .navLinks:hover {
    color: #CDA434;
  }
}
