.sobre {
  padding: 2rem;
  background-color: #2E2E2E;
  border-left: 5px solid #E60012;
  border-radius: 0.5rem;
  color: #FFFFFF;
  max-width: 800px;
  margin: 2rem auto;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #CDA434;
    text-align: center;
  }

  p {
    line-height: 1.7;
    font-size: 1.05rem;
    color: #f0f0f0;
    margin-bottom: 1.5rem;
  }

  hr {
    border: 0;
    border-top: 2px solid #E60012;
    margin: 2rem 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 1.1rem;
      color: #f0f0f0;
      margin-bottom: 0.5rem;

      &:before {
        content: "• ";
        color: #CDA434;
      }
    }
  }
}